# Core
SQLAlchemy==2.0.29
psycopg2-binary==2.9.9
python-dotenv==1.0.1
pydantic==2.7.1

# Embeddings
sentence-transformers==2.7.0

# Vector DB
faiss-cpu==1.8.0

# LLM
transformers==4.40.2
accelerate==0.30.1
peft==0.11.1
bitsandbytes==0.43.1
datasets==2.19.1

# API
fastapi==0.111.0
uvicorn==0.30.0

# Utils
numpy==1.26.4
tqdm==4.66.4
scikit-learn==1.4.2
