SQLAlchemy==2.0.29
psycopg2-binary==2.9.9
python-dotenv==1.0.1
pydantic==2.7.1

# embeddings
sentence-transformers==2.7.0
torch>=2.2.0

# vector database
faiss-cpu==1.8.0

# api
fastapi==0.111.0
uvicorn==0.30.0

# utilities
numpy==1.26.4
tqdm==4.66.4
